<template src="./view.html"></template>

<script>
export default {
  name: 'DashboardItem',
  data() {
    return {

    };
  },
  mounted() {

  },
  methods: {
    toggleElCollapse(el) {
      this.$emit('toggle-collapse', el);
    },
  },
  computed: {

  },
  props: ['client', 'expandAll', 'expandedEls'],
};
</script>

<style lang="scss" rel="stylesheet/scss" src="./style.scss"></style>
