.client-item {
  background: #fff;
  margin-bottom: 0.5em;
  box-shadow: 0 0 10px 0 darken(#dedede, 10%);
  border-radius: 5px;

  &.expanded {
    .collapsed-part {
      height: auto;
    }
  }

  .collapsed-part {
    height: 0;
    overflow: hidden;
    transition: height 0.25s;
    display: flex;
    margin: 0 1em;
    align-items: center;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      border-top: 1px solid #dedede;
    }
  }
}

.source-items {
  .active {
    color: red;
  }
}

.client-name {
  min-width: 8em;
  text-align: left;
}

.collapsed-part.client-info__values {
    padding: 0;
}

.client-info {
  &__values {
    display: flex;
    flex-grow: 1;
    padding: 0 10em;

    div {
      &:not(:last-child) {
        margin-right: 1em;
        padding-right: 1em;
        border-right: 1px solid #dedede;
      }
    }

    span {
      font-weight: bold;
      display: inline-block;
      margin-right: 0.5em;

      &.cpa {
        margin-left: 0.5em;
        margin-right: 0;
      }
    }

    .info-wrapper {
      display: block;

      > div {
        padding: 1em 0;
        margin-right: 0;
        border: 0;
        text-align: left;
      }

      .add-row {
        display: flex;
      }

      .add-name {
        font-weight: normal;
        display: inline-block;
        min-width: 8em;
      }

      .add-values {
        display: flex;
        flex-grow: 1;
        padding: 0 9.5em;
      }
    }
  }
}


.client-info {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.toggle-btn {
  width: 0.5em;
  height: 0.5em;
  border: 4px solid #000;
  border-top: none;
  border-left: none;
  transform: rotate(45deg);
  cursor: pointer;
  transition: transform 0.25s;
  transform-origin: 50% 50%;

  .expanded &{
    transform: rotate(-45deg) rotateX(180deg);
  }
}

.collapsed-part {
  > div {
    display: inline-block;
    width: 100%;
  }
}

.collapse-enter-active,
.collapse-leave-active {
  transition: opacity .5s;
}
.collapse-enter,
.collapse-leave-to {
  opacity: 0;
}
