<div>
  <div class="client-info">
    <div class="client-name">{{client.name}}</div>
    <div class="client-info__values">
      <div><span>Budget</span>{{client.aggregated.budget}}</div>
      <div><span>Cost</span>{{client.aggregated.cost}}<span class="cpa">({{client.cpa}})</span></div>
      <div><span>Conversions</span>{{client.aggregated.conversions}}</div>
    </div>
    <span @click="toggleElCollapse($event)" class="toggle-btn"></span>
  </div>
  <div class="collapsed-part client-info__values">
    <transition-group name="collapse" tag="div" class="info-wrapper">
      <div key="facebookads" v-if="client.facebookads" class="add-row">
        <span class="add-name">Facebookads</span>
        <div class="add-values">
          <div><span>Budget</span>{{client.facebookads.budget}}</div>
          <div><span>Cost</span>{{client.facebookads.cost}}<span class="cpa">({{client.facebookads.cpa}})</span></div>
          <div><span>Conversions</span>{{client.facebookads.conversions}}</div>
        </div>
      </div>
      <div key="adwords" v-if="client.adwords" class="add-row">
        <span class="add-name">Adwords</span>
        <div class="add-values">
          <div><span>Budget</span>{{client.adwords.budget}}</div>
          <div><span>Cost</span>{{client.adwords.cost}}<span class="cpa">({{client.adwords.cpa}})</span></div>
          <div><span>Conversions</span>{{client.adwords.conversions}}</div>
        </div>
      </div>
      <div key="bingads" v-if="client.bingads" class="add-row">
        <span class="add-name">Bingads</span>
        <div class="add-values">
          <div><span>Budget</span>{{client.bingads.budget}}</div>
          <div><span>Cost</span>{{client.bingads.cost}}<span class="cpa">({{client.bingads.cpa}})</span></div>
          <div><span>Conversions</span>{{client.bingads.conversions}}</div>
        </div>
      </div>
    </transition-group>
  </div>
</div>
