<template src="./view.html"></template>

<script>
export default {
  name: 'DashboardForm',
  data() {
    return {
      allExpanded: false,
      nameFilter: '',
      userName: 'John Stark',
    };
  },
  methods: {
    toggleParams(val) {
      this.$emit('toggleParams', val);
    },
  },
  computed: {
    userNameForRequest() {
      return this.userName
        .replace(/([a-z])([A-Z])/g, '$1-$2')
        .replace(/\s+/g, '_')
        .toLowerCase();
    },
    fetching() {
      return this.$store.state.fetching;
    },
  },
  watch: {
    allExpanded: function (val) {
      this.$emit('toggleCollapse', val);
    },
    nameFilter: function (val) {
      this.$emit('searchClient', val);
    },
    userNameForRequest: function (val) {
      this.$emit('searchUser', val);
    },
  },
  props: ['error'],
};
</script>

<style lang="scss" rel="stylesheet/scss" src="./style.scss"></style>
