.source-items {
  margin-right: 1em;
  position: relative;

  .active {
    color: red;
  }

  .error-msg {
    font-size: 0.75em;
    position: absolute;
    top: calc(100% + 0.25em);
    left: 50%;
    transform: translateX(-50%);
    color: red;
    white-space: nowrap;
    display: block;
  }

  > span {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-right: 1em;
    text-indent: -9999px;
    overflow: hidden;
    cursor: pointer;
    filter: grayscale(100%);
    transition: filter 0.25s;

    &:last-of-type {
      background-size: 28px 28px;
    }

    &.active {
      filter: grayscale(0);
    }
  }
}

form {
  padding: 1em 0 2em;
  display: flex;
  justify-content: space-between;

  [type=text] {
    border-radius: 5px;
    padding: 0.5em 1em;
    border: 0;
    box-shadow: 0 0 10px 0 #42b983;
    font-size: 16px;
    transition: box-shadow 0.25s;

    &:focus {
      box-shadow: 0 0 10px 0 red;
      outline: 0;
    }
  }

  [type=checkbox] {
    opacity: 0;
    position: absolute;
    left: -9999px;
    top: 0;
    overflow: hidden;
    visibility: hidden;
  }

  label {
    min-width: 10em;
    padding: 0.5em 2em;
    border: 1px solid #000;
    border-radius: 5px;
    margin-left: 1em;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    transition: color 0.25s, background 0.25s;
    font-weight: bold;

    &:hover {
      color: #fff;
      background: #000;
    }
  }
}

.input-wrapper {
  display: flex;
  align-items: center;
}

.name-input {
  position: relative;

  .loader {
    position: absolute;
    width: 1em;
    height: 1em;
    border: 2px dotted #42b983;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
    right: 0.5em;
    top: 0.45em;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
