<div>
  <form action="/">
    <div class="input-wrapper">
      <div class="input-holder name-input">
        <input type="text" v-model="userName" placeholder="User name">
        <span v-if="fetching" class="loader"></span>
      </div>
      <div class="input-holder">
        <input id="collapser" name="collapser" type="checkbox" v-model="allExpanded">
        <label for="collapser" v-text="allExpanded ? 'Collapse All' : 'Expand All'"></label>
      </div>
    </div>
    <div class="input-wrapper">
    <div>
      <div class="source-items">
        <span @click="toggleParams($event)" class="active source-item" style="background-image: url('/static/facebook.png')">facebookads</span>
        <span @click="toggleParams($event)" class="active source-item" style="background-image: url('/static/adwords.png')">adwords</span>
        <span @click="toggleParams($event)" class="active source-item" style="background-image: url('/static/bing.png')">bingads</span>
        <transition name="collapse">
          <div v-if="error.length" class="error-msg" v-text="error"></div>
        </transition>
      </div>
      </div>
      <div class="input-holder">
        <input type="text" placeholder="Search client" v-model="nameFilter">
      </div>
    </div>
  </form>
</div>
