<template src="./view.html"></template>

<script>
import _ from 'lodash';
import DashboardForm from '@/components/DashboardForm';
import DashboardItem from '@/components/DashboardItem';

export default {
  name: 'Dashboard',
  data() {
    return {
      url: 'https://frontendtask.appspot.com/api/clients',
      params: {
        name: 'john_stark',
        source: ['facebookads', 'bingads', 'adwords'],
      },
      nameFilter: '',
      expandAll: false,
      expandedEls: [],
      error: '',
    };
  },
  mounted() {
    if (!this.$store.state.data.length) {
      this.fetchData();
    }
    // this.addCPAFacebook();
    // this.addCPABingads();
    // this.addCPAAdwords();
  },
  methods: {
    fetchData() {
      const params = {
        source: this.params.source.join(),
        name: this.params.name,
      };
      this.$store.commit('TOGGLE_LOADER', true);
      this.$http.get(this.url, { params })
        .then((res) => {
          this.$store.dispatch('fetchData', res);
          this.$store.commit('TOGGLE_LOADER', false);
        })
        .catch((e) => {
          console.error(e);
          this.$store.commit('TOGGLE_LOADER', false);
        });
    },
    removeEl(arr) {
      let what, a = arguments, L = a.length, ax;
      while (L > 1 && arr.length) {
        what = a[--L];
        while ((ax = arr.indexOf(what)) !== -1) {
          arr.splice(ax, 1);
        }
      }
      return arr;
    },
    toggleParams(e) {
      const source = this.params.source;
      const targetText = e.target.textContent;
      if (source.indexOf(targetText) < 0) {
        source.push(targetText);
        e.target.closest('.source-item').classList.add('active');
        this.error = '';
      } else {
        if (source.length > 1) {
          this.removeEl(source, targetText);
          e.target.closest('.source-item').classList.remove('active');
        } else {
          this.error = 'At least one item should be checked';
          setTimeout(() => {
            this.error = '';
          }, 3000);
        }
      }
    },
    changeUserName(name) {
      this.params.name = name;
    },
    toggleCollapserForAll(e) {
      this.$refs.client.forEach(item => {
        if (!e) {
          this.expandedEls = [];
        } else {
          this.expandedEls.push(item.$el.getAttribute('data-id'));
        }
      });
      this.expandAll = e;
    },
    toggleElCollapse(e) {
      const item = e.target.closest('.client-item');
      const dataId = item.getAttribute('data-id');

      item.classList.toggle('expanded');
      if (this.expandedEls.indexOf(dataId) < 0) {
        this.expandedEls.push(dataId);
      } else {
        this.removeEl(this.expandedEls, dataId);
      }
    },
    clientFilter(e) {
      this.nameFilter = e;
    },
    addCPA() {
      this.clients.map((item) => {
        Object.assign(item, { cpa: `${Math.round((item.aggregated.cost * 100) / item.aggregated.budget)}%` });
      });
    },
    addCPAFacebook() {
      this.clients.map((item) => {
        if (item.facebookads) {
          Object.assign(item.facebookads, {cpa: `${Math.round((item.facebookads.cost * 100) / item.facebookads.budget)}%`});
        }
      });
    },
    addCPABingads() {
      this.clients.map((item) => {
        if (item.bingads) {
          Object.assign(item.bingads, {cpa: `${Math.round((item.bingads.cost * 100) / item.bingads.budget)}%`});
        }
      });
    },
    addCPAAdwords() {
      this.clients.map((item) => {
        if (item.adwords) {
          Object.assign(item.adwords, {cpa: `${Math.round((item.adwords.cost * 100) / item.adwords.budget)}%`});
        }
      });
    },
  },
  computed: {
    clients() {
      return this.$store.state.data;
    },
    source() {
      return this.params.source;
    },
    filteredСlients() {
      if (this.clients.length) {
        return this.clients.filter(item => {
          return item.name.toLowerCase().indexOf(this.nameFilter.toLowerCase()) > -1;
        });
      }
      return false;
    },
    userName() {
      return this.params.name;
    },
  },
  watch: {
    source: function () {
      this.fetchData();
    },
    clients: function () {
      this.addCPA();
      this.addCPAFacebook();
      this.addCPABingads();
      this.addCPAAdwords();
    },
    userName: _.debounce(function () {
      this.fetchData();
    }, 1000),
  },
  components: { DashboardForm, DashboardItem },
};
</script>

<style lang="scss" rel="stylesheet/scss" src="./style.scss"></style>
