.router-view-enter-active, .router-view-leave-active {
  transition: opacity .5s, transform .5s;
  transform-origin: 50% 0%;
}
.router-view-enter, .router-view-leave-to{
  opacity: 0;
  transform: scale(.9);
}
