<div>
    <DashboardForm
      @toggleCollapse="toggleCollapserForAll($event)"
      @toggleParams="toggleParams($event)"
      @searchClient="clientFilter($event)"
      @searchUser="changeUserName($event)"
      :error="error"
    />
    <div v-if="filteredСlients" class="clients-list">
      <DashboardItem
        v-for="(client, index) in filteredСlients"
        :key="index"
        ref="client"
        :client="client"
        :expandAll="expandAll"
        :expandedEls="expandedEls"
        :class="['client-item', expandedEls.includes(client.id.toString()) ? 'expanded' : '']"
        @toggle-collapse="toggleElCollapse($event)"
        :data-id="client.id"
      />
    </div>
</div>
